<!-- Check the variable that indicates whether this is an archived doc set.
  If yes, display a banner. -->
  {{ if .Params.cver }}
  {{ $color := "primary" }}
  {{ $latest_version := index .Params.vers 0 }}
  {{ $current_version := .Params.cver }}
  <div class="pageinfo pageinfo-{{ $color }}">
    {{ with $current_version }}<p>Version {{ . | markdownify }} of the
      documentation is no longer actively maintained. The site that you are
      currently viewing is an archived snapshot. 
      {{ with $latest_version }}For up-to-date documentation, see the
        <a href="{{ .link | safeURL }}" target="_blank">latest version</a>.</p>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
